nav {
  position: fixed;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 1em;
  background: transparent;
  top: 0;
  z-index: 99;
  background-color: black;
  .innerNav {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 1500px;
    align-items: center;
    justify-content: space-between;
    flex-flow: row;
    .logo {
      width: 100%;
      max-width: 150px;
    }
    .menuToggler {
      position: relative;
      display: flex;
      flex-flow: column;
      width: 100%;
      max-width: 45px;
      outline: none;
      background-color: transparent;
      border: none;
      cursor: pointer;
      display: none;
      span {
        width: 100%;
        height: 4px;
        margin: 0.2em 0;
        border-radius: 50px;
        background-color: $light-color;
      }
    }
    .menu {
      list-style: none;
      display: flex;
      li {
        font-family: $textFont;
        margin: 0 2em;
        text-transform: capitalize;
        font-size: 1.1em;
        a {
          text-decoration: none;
          color: $light-color;
        }
      }
    }
  }
}

.responsiveMenu {
  position: fixed;
  display: none;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  text-align: center;
  z-index: 99;
  .menu-2 {
    padding: 0%;
    font-size: 2em;
    list-style: none;
    li {
      margin: 2em 0;
      transition: all 0.3s ease;
      &:hover {
        transform: scale(1.1);
      }
      a {
        text-decoration: none;
        color: white;
        text-transform: capitalize;
        font-family: $textFont;
      }
    }
  }
}

// toggleClass
.active {
  display: flex;
}
.togglerStart {
  transition: transform 1s ease;
  #inner1 {
    width: 40px;
  }
  #inner2 {
    display: none;
  }
  #inner3 {
    width: 25px;
  }
}
// responsive
@media (max-width: 790px) {
  nav {
    padding: 1em 2em;
    .innerNav {
      .menuToggler {
        display: flex;
      }
      .menu {
        display: none;
      }
    }
  }
}
@media screen and (min-width: 790px) {
  .responsiveMenu {
    display: none;
  }
}
